.column-layout {
  display: flex;
  flex-direction: column;
}
.child-view-1-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.row-layout {
  display: flex;
}
.group_2 {
  background-color: var(--ig-warn-500);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
  grid-column-end: span 2;
}
.group_3 {
  background-color: var(--ig-success-500);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  background-color: var(--ig-secondary-300);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
  grid-column-end: span 3;
}
.group_5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  position: relative;
  width: 257px;
  height: 120px;
  min-width: 50px;
  min-height: 50px;
  max-width: 257px;
  max-height: 120px;
}
.group_6 {
  background-color: var(--ig-secondary-300);
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  max-height: 426px;
}
.text {
  height: max-content;
  min-width: min-content;
}
