.column-layout {
  display: flex;
  flex-direction: column;
}
.dialogs-and-dropdowns-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  background-color: var(--ig-gray-200);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.custom-header {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 0 8px;
}
.custom-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: hidden;
  position: relative;
  width: 550px;
  min-width: 50px;
  min-height: 50px;
  max-width: 550px;
}
.form-fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.custom-actions {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 16px 0 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.group_4 {
  background-color: var(--ig-gray-200);
  border-color: var(--ig-gray-400);
  border-width: 3px;
  border-style: dashed;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_6 {
  background-color: var(--ig-gray-200);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_7 {
  background-color: var(--ig-gray-200);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_8 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.icon-button::part(base) {
  background-color: var(--ig-gray-200);
}
.input {
  height: max-content;
  min-width: min-content;
}
.dropdown {
  left: 2px;
  top: 0;
  position: absolute;
  min-width: min-content;
  max-width: 182px;
}
.dropdown_1 {
  left: -401.6956296611613px;
  top: 1645.7075989322227px;
  position: absolute;
  min-width: min-content;
  max-width: 300px;
}
.dropdown_2::part(base) {
  width: 182px;
  height: max-content;
}
.dropdown_1_1::part(base) {
  width: 300px;
  height: max-content;
}
.content {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 36px;
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: var(--ig-error-500);
}
.image {
  object-fit: cover;
  height: 162px;
  min-width: 0;
  min-height: 0;
  max-height: 162px;
  align-self: stretch;
  flex-shrink: 0;
}
.h3 {
  color: var(--ig-gray-500);
  height: max-content;
  min-width: min-content;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.icon_2 {
  --size: 36px;
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: var(--ig-warn-500);
}
.text {
  color: var(--ig-gray-400);
  height: max-content;
  min-width: min-content;
}
.icon_3 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-error-500);
}
.banner-inline {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.banner-inside {
  margin: 16px;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.snackbar-webinar {
  height: max-content;
  min-width: min-content;
}
.snackbar {
  z-index: 1;
  right: -11.484375px;
  bottom: 137.0078125px;
  position: fixed;
  height: max-content;
  min-width: min-content;
}
